.idea/
node_modules/
bin/
dist/
build/
public/
newman/

.#*

__pycache__/
.envrc
*.orig

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform/
.terraform.plan

# certs/keys/pems
*.crt
*.csr
*.key
*.pem
*.pfx
*.srl*
*.csr.cfg
*id_rsa*


# Big binaries
*.bz2
*.gz
*.jar
*.tar.gz
*.tgz
*.zip
